<!DOCTYPE html>
<html lang="en" ng-app="basicDemoApp">
<head>
  <meta charset="utf-8">
  <title>Simple Validation Demo (Bootstrap)</title>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-sanitize.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

  <script src="../dist/scripts/uiFormValidation.js"></script>
  <script src="basic.js"></script>
</head>

<body>
<div class="container" ng-controller="BasicDemoController">

<form class="form-horizontal" role="form" name="exampleForm" ui-validation>
<fieldset>


<!-- Form Name -->
<legend>Simple Validation Demo (Bootstrap)</legend>

<!-- Text input-->
<div class="form-group" validation-notice="name">
  <label class="col-md-2 control-label" for="name">Name</label>
  <div class="col-md-10 controls">
    <input ng-model="name" validate-required name="name" placeholder="Type name" class="form-control" type="text">
    <p class="help-block"><em>validate-required</em> validation</p>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group" validation-notice="gendre">
  <label class="col-md-2 control-label" for="gendre">Gendre</label>
  <div class="col-md-10 controls">
    <select ng-model="gendre" validate-required validation-notice-mode="onInvalid" name="gendre" class="form-control">
      <option>Male</option>
      <option>Female</option>
    </select>
  <p class="help-block">with mode <em>validation-notice-mode="onInvalid"</em> (default is validation-notice-mode="onSubmitAndInvalid onDirtyAndInvalid")</p>
  </div>
</div>

<div class="form-group" validation-notice="password confirmPassword">
  <label class="col-md-2 control-label" for="password">Password</label>
  <div class="col-md-10 controls">
    <input name="password" required ng-model="password" placeholder="Type password" class="form-control">
    <input name="confirmPassword" placeholder="Confirm password" class="form-control" ng-model="confirmPassword"
      ui-validate="{notTheSame : '$value==password' }"
      ui-validate-watch=" 'password' ">
    <p class="help-block">UI.Utils <em>ui-validate</em> and customized message</p>
  </div>
</div>

<!-- Text input-->
<div class="form-group" validation-notice="address">
  <label class="col-md-2 control-label" for="address">Address</label>
  <div class="col-md-10 controls">
    <input ng-model="address" required name="address" placeholder="Type address" class="form-control" type="text">
    <p class="help-block"><em>customized required</em> (HTML5 attribute)</p>
  </div>
</div>

<!-- Password input-->
<div class="form-group" validation-notice="postalCode">
  <label class="col-md-2 control-label" for="postalCode">Postal code</label>
  <div class="col-md-10 controls">
    <input ng-model="postalCode" validate-length="5" name="postalCode" placeholder="Type postal code" class="form-control" type="text">
    <p class="help-block"><em>validate-length="5"</em> validation</p>
  </div>
</div>

<!-- Text input-->
<div class="form-group" validation-notice="date">
  <label class="col-md-2 control-label" for="date">Date of birth</label>
  <div class="col-md-10 controls">
    <input ng-model="date" validate-regex="^([1-9]|[1|2][0-9]|[3][0|1])[.]([0]?[1-9]|[1][0-2])[.]([1-9][0-9]{3})$" name="date" placeholder="Type date in format d.M.yyyy" class="form-control" type="text">
    <p class="help-block"><em>validate-regex</em> validation</p>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-2 control-label" for="options">Options</label>
  <div class="col-md-10 controls">
  <div class="checkbox" validation-notice="agreeWith">
    <label for="options-0">
      <input validation-errors-mode="onInvalid" ng-model="agreeWith" name="agreeWith" agreement-checked value="agreeWith" validation-errors-location="after{parent().parent()}" type="checkbox">
      Agree with terms and conditions
    </label>
  </div>
  <p class="help-block">Custom validation <em>agreement-checked</em> and customized message defined in messages file</p>
  </div>
</div>
</form>

</div>

</body>
</html>
