<!DOCTYPE html>
<html lang="en" ng-app="uiFormValidation">
<head>
  <meta charset="utf-8">
  <title>AngularJS ui-select</title>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

  <script src="../dist/scripts/uiFormValidation.js"></script>

</head>

<body>
<div class="container">

<form class="form-horizontal" role="form" ui-validation>
<fieldset>


<!-- Form Name -->
<legend>Simple Validation Demo (Bootstrap)</legend>

<!-- Text input-->
<div class="form-group" validation-notice="name">
  <label class="col-md-2 control-label" for="name">Name</label>
  <div class="col-md-10 controls">
    <input ng-model="name" validate-required name="name" placeholder="Type name" class="form-control" type="text">
    <p class="help-block"><em>validate-required</em> validation</p>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group" validation-notice="gendre">
  <label class="col-md-2 control-label" for="gendre">Gendre</label>
  <div class="col-md-10 controls">
    <select ng-model="gendre" validate-required validation-notice-mode="onInvalid" name="gendre" class="form-control">
      <option>Male</option>
      <option>Female</option>
    </select>
	<p class="help-block">with mode <em>validation-notice-mode="onInvalid"</em> (default is validation-notice-mode="onSubmitAndInvalid onDirtyAndInvalid")</p>
  </div>
</div>

<!-- Text input-->
<div class="form-group" validation-notice="address">
  <label class="col-md-2 control-label" for="address">Address</label>
  <div class="col-md-10 controls">
    <input ng-model="address" required name="address" placeholder="Type address" class="form-control" type="text">
    <p class="help-block"><em>customized required</em> (HTML5 attribute)</p>
  </div>
</div>

<!-- Password input-->
<div class="form-group" validation-notice="password">
  <label class="col-md-2 control-label" for="password">Password</label>
  <div class="col-md-10 controls">
    <input ng-model="password" validate-length="5" name="password" placeholder="Type password" class="form-control" type="password">
    <p class="help-block"><em>validate-length="5"</em> validation</p>
  </div>
</div>

<!-- Text input-->
<div class="form-group" validation-notice="date">
  <label class="col-md-2 control-label" for="date">Date of birth</label>
  <div class="col-md-10 controls">
    <input ng-model="date" validate-regex="^([1-9]|[1|2][0-9]|[3][0|1])[.]([0]?[1-9]|[1][0-2])[.]([1-9][0-9]{3})$" name="date" placeholder="Type date in format d.M.yyyy" class="form-control" type="text">
    <p class="help-block"><em>validate-regex</em> validation</p>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-2 control-label" for="options">Options</label>
  <div class="col-md-10 controls">
  <div class="checkbox" validation-notice="agreeWith">
    <label for="options-0">
      <input ng-model="agreeWith" name="agreeWith" value="agreeWith" type="checkbox">
      Agree with terms and conditions
    </label>
	</div>
  <div class="checkbox" validation-notice="sendEmails">
    <label for="options-1">
      <input ng-model="sendEmails" name="sendEmails" value="emails" type="checkbox">
      Send advertising e-mails
    </label>
	</div>
  </div>
</div>

</fieldset>
</form>

</div>

</body>
</html>
